Body {
	background-color:#2176EA
;
	max-width: 600px;
	margin: auto;
}

h1 {
Background-color: #7390FC;
color: #FFFFFF;
}
p {
Background-color: #7390FC;
color: #FFFFFF;
}
h3 {
background-color: #7390FC;
color: #FFFFFF;
}
h4 {
Background-color: #7390FC;
color: #FFFFFF;
}
li {
Background-color: #7390FC;
color: #FFFFFF;
}
ul {
Background-color: #7390FC;
color: #FFFFFF;
}

