Body {
	background-color:#8FD9FB
;
	max-width: 600px;
	margin: auto;
}

h1 {
Background-color: #FA75D5;
color: #FFFFFF;
}
p {
Background-color: #FA75D5;
color: #FFFFFF;
}
h3 {
background-color: #FA75D5;
color: #FFFFFF;
}
h4 {
Background-color: #FA75D5;
color: #FFFFFF;
}
li {
Background-color: #FA75D5;
color: #FFFFFF;
}
ul {
Background-color: #FA75D5;
color: #FFFFFF;
}

